<app-auth-form-wrapper titleKey="AUTH.RESET_PASSWORD" subtitleKey="AUTH.RESET_PASSWORD_SUBTITLE">
  <div class="info-banner info-banner--error" *ngIf="tokenInvalid">{{ 'AUTH.ERROR.INVALID_TOKEN' | translate }}</div>

  <ng-container *ngIf="!tokenInvalid && !success">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      <div class="password-block">
        <app-input-password
          [control]="form.get('newPassword')"
          [label]="'AUTH.NEW_PASSWORD' | translate"
          [placeholder]="'AUTH.NEW_PASSWORD' | translate"
          autocomplete="new-password">
        </app-input-password>
        <app-password-strength-meter [password]="form.get('newPassword')?.value || ''"></app-password-strength-meter>
      </div>

      <app-input-password
        [control]="form.get('confirmPassword')"
        [label]="'AUTH.CONFIRM_PASSWORD' | translate"
        [placeholder]="'AUTH.CONFIRM_PASSWORD' | translate"
        autocomplete="new-password">
      </app-input-password>

      <app-button
        type="submit"
        buttonType="flat"
        color="primary"
        size="full"
        [disabled]="(loading$ | async) ?? false">
        {{ 'AUTH.RESET_PASSWORD_CTA' | translate }}
      </app-button>
    </form>

    <div class="auth-footer">
      <a [routerLink]="AuthPaths.LOGIN" class="link">{{ 'AUTH.BACK_TO_LOGIN' | translate }}</a>
    </div>
  </ng-container>

  <div *ngIf="success" class="success-state">
    <mat-icon class="success-state__icon">check_circle</mat-icon>
    <p>{{ 'AUTH.RESET_SUCCESS' | translate }}</p>
  </div>
</app-auth-form-wrapper>
