<div class="section-skeleton">
  <h2 *ngIf="titleKey" class="section-skeleton__title">{{ titleKey | translate }}</h2>
  <div class="section-skeleton__row">
    <div class="section-skeleton__card" *ngFor="let i of cards">
      <app-skeleton-loader shape="rectangle" width="100%" height="240px"></app-skeleton-loader>
      <app-skeleton-loader shape="line" width="80%" height="1rem"></app-skeleton-loader>
      <app-skeleton-loader shape="line" width="50%" height="0.75rem"></app-skeleton-loader>
    </div>
  </div>
</div>
