<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="visible ? 'text' : 'password'"
    [formControl]="formControl"
    [placeholder]="placeholder"
    [attr.autocomplete]="autocomplete"
    [errorStateMatcher]="this">
  <button matSuffix mat-icon-button type="button" (click)="visible = !visible">
    <mat-icon [fontIcon]="visible ? AppIcon.Visibility : AppIcon.VisibilityOff"></mat-icon>
  </button>
  <mat-error>{{ displayError }}</mat-error>
</mat-form-field>
