<form class="change-pwd" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="change-pwd__field">
    <mat-label>{{ 'PROFILE.CURRENT_PASSWORD' | translate }}</mat-label>
    <input matInput type="password" formControlName="currentPassword" autocomplete="current-password" />
    <mat-error *ngIf="form.controls['currentPassword'].hasError('required')">
      {{ 'FORM.ERROR.REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="change-pwd__field">
    <mat-label>{{ 'AUTH.NEW_PASSWORD' | translate }}</mat-label>
    <input matInput type="password" formControlName="newPassword" autocomplete="new-password" />
    <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
      {{ 'FORM.ERROR.REQUIRED' | translate }}
    </mat-error>
    <mat-error *ngIf="form.controls['newPassword'].hasError('minlength')">
      {{ 'AUTH.ERROR.TOO_SHORT' | translate }}
    </mat-error>
  </mat-form-field>

  <app-password-strength-meter [password]="newPasswordValue"></app-password-strength-meter>

  <mat-form-field appearance="outline" class="change-pwd__field">
    <mat-label>{{ 'AUTH.CONFIRM_PASSWORD' | translate }}</mat-label>
    <input matInput type="password" formControlName="confirmPassword" autocomplete="new-password" />
    <mat-error *ngIf="form.hasError('passwordMismatch') && form.controls['confirmPassword'].touched">
      {{ 'AUTH.ERROR.PASSWORD_MISMATCH' | translate }}
    </mat-error>
  </mat-form-field>

  <div class="change-pwd__actions">
    <app-button buttonType="raised" color="primary" type="submit" [disabled]="form.invalid || submitting">
      {{ (submitting ? 'COMMON.LOADING' : 'PROFILE.CHANGE_PASSWORD') | translate }}
    </app-button>
  </div>
</form>
