<app-auth-form-wrapper titleKey="AUTH.FORGOT_PASSWORD" subtitleKey="AUTH.FORGOT_PASSWORD_SUBTITLE">
  <ng-container *ngIf="!submitted; else successView">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      <app-input-email
        [control]="form.get('email')"
        [label]="'AUTH.EMAIL' | translate"
        [placeholder]="'AUTH.EMAIL' | translate">
      </app-input-email>

      <app-button
        type="submit"
        buttonType="flat"
        color="primary"
        size="full"
        [disabled]="(loading$ | async) ?? false">
        {{ 'AUTH.SEND_RESET_LINK' | translate }}
      </app-button>
    </form>

    <div class="auth-footer">
      <a [routerLink]="AuthPaths.LOGIN" class="link">{{ 'AUTH.BACK_TO_LOGIN' | translate }}</a>
    </div>
  </ng-container>

  <ng-template #successView>
    <div class="success-state">
      <mat-icon class="success-state__icon">mark_email_read</mat-icon>
      <p class="success-state__hint">{{ 'AUTH.FORGOT_SENT' | translate }}</p>
      <a [routerLink]="AuthPaths.LOGIN" class="link">{{ 'AUTH.BACK_TO_LOGIN' | translate }}</a>
    </div>
  </ng-template>
</app-auth-form-wrapper>
